In [1]:
import pandas as pd

import json

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.columns

Index([u'Choice', u'A_follower_count', u'A_following_count', u'A_listed_count',
       u'A_mentions_received', u'A_retweets_received', u'A_mentions_sent',
       u'A_retweets_sent', u'A_posts', u'A_network_feature_1',
       u'A_network_feature_2', u'A_network_feature_3', u'B_follower_count',
       u'B_following_count', u'B_listed_count', u'B_mentions_received',
       u'B_retweets_received', u'B_mentions_sent', u'B_retweets_sent',
       u'B_posts', u'B_network_feature_1', u'B_network_feature_2',
       u'B_network_feature_3'],
      dtype='object')

In [4]:
train.head()

,Choice,A_follower_count,A_following_count,A_listed_count,A_mentions_received,A_retweets_received,A_mentions_sent,A_retweets_sent,A_posts,A_network_feature_1,...,B_following_count,B_listed_count,B_mentions_received,B_retweets_received,B_mentions_sent,B_retweets_sent,B_posts,B_network_feature_1,B_network_feature_2,B_network_feature_3
0,0,228,302,3,0.583979,0.100503,0.100503,0.100503,0.362150,2,...,29808,1689,15.430498,3.984029,8.204331,0.332423,6.988815,66,75.530303,1916.893939
1,0,21591,1179,228,90.456506,25.798292,5.709329,1.111159,5.176620,369,...,848,1610,40.495021,8.943607,3.227677,0.564343,1.070321,163,132.030675,2931.515337
2,0,7310,1215,101,25.503644,9.556347,5.361519,0.591206,3.589718,95,...,482,206,0.734696,0.354379,0.603202,0.100503,0.603202,3,10.333333,277.333333
3,0,20,7,2,7.690824,0.277306,1.331508,0.100503,2.830627,6,...,17637,278,572.874856,390.293681,27.552040,7.167557,32.101906,1762,23.469296,1395.845634
4,1,45589,862,2641,148.854279,36.998884,27.881768,3.333492,23.861282,551,...,1711,181,21.601866,3.581661,6.764657,1.119727,4.563246,85,48.500000,1993.627907

In [8]:
train.Choice.value_counts()

1    2802
0    2698
Name: Choice, dtype: int64